parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: false
        implicitThrows: false
