openapi: 3.1.0
info:
  title: Ortto CDP API
  version: 1.0.0
  description: |
    Ortto Customer Data Platform (CDP) REST API for managing people, audiences, activities, and campaigns.

    This API allows you to:
    - Create and update contact records (people)
    - Retrieve contact information with filtering and pagination
    - Archive, restore, and delete contacts
    - Manage audience subscriptions
    - Retrieve account schema and field definitions
    - Track activities and events

  contact:
    name: Ortto API Support
    url: https://help.ortto.com/developer/latest/
  license:
    name: Proprietary
    url: https://ortto.com/terms

servers:
  - url: https://api.ap3api.com/v1
    description: Default API endpoint (AP3 region)
  - url: https://api.au1api.com/v1
    description: Australia region endpoint
  - url: https://api.eu1api.com/v1
    description: Europe region endpoint

security:
  - ApiKeyAuth: []

tags:
  - name: Person
    description: Person/contact management endpoints
  - name: Audience
    description: Audience management and subscription endpoints
  - name: Account
    description: Account instance schema endpoints
  - name: Accounts
    description: Organization/account management endpoints
  - name: Activity
    description: Activity tracking and retrieval endpoints
  - name: Campaign
    description: Campaign management endpoints (future)

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Custom API key for authentication

  schemas:
    # Common field types
    PersonFieldString:
      type: object
      description: String-type person field
      additionalProperties:
        type: string

    PersonFieldBoolean:
      type: object
      description: Boolean-type person field
      additionalProperties:
        type: boolean

    PersonFieldInteger:
      type: object
      description: Integer-type person field (decimals multiplied by 1000)
      additionalProperties:
        type: integer
        format: int64

    PersonFieldPhone:
      type: object
      description: Phone number field
      properties:
        c:
          type: string
          description: Country code (e.g., "61" for Australia)
        n:
          type: string
          description: Phone number without trunk prefix
      example:
        c: "61"
        n: "401234567"

    PersonFieldPhoneAlt:
      type: object
      description: Alternative phone number format
      properties:
        phone:
          type: string
          description: Full phone number including country code
        parse_with_country_code:
          type: boolean
          description: Whether to parse phone with country code
      example:
        phone: "61401234567"
        parse_with_country_code: true

    PersonFieldGeo:
      type: object
      description: Geographical data field
      properties:
        name:
          type: string
          description: Name of the location
      example:
        name: "Melbourne"

    PersonFieldDate:
      type: object
      description: Date field with timezone
      properties:
        year:
          type: integer
        month:
          type: integer
          minimum: 1
          maximum: 12
        day:
          type: integer
          minimum: 1
          maximum: 31
        timezone:
          type: string
          description: Timezone identifier
      example:
        year: 1980
        month: 3
        day: 4
        timezone: "Australia/Sydney"

    PersonLocation:
      type: object
      description: Location data for a person
      properties:
        source_ip:
          type: string
          format: ipv4
          description: IP address for geolocation
      example:
        source_ip: "119.18.0.218"

    MergeStrategy:
      type: integer
      enum: [1, 2, 3]
      description: |
        Merge strategy for updating existing contacts:
        - 1: Append only (only add new data, don't overwrite existing)
        - 2: Overwrite existing (default - update all fields specified)
        - 3: Ignore (don't update existing, only create new)
      default: 2

    FindStrategy:
      type: integer
      enum: [0, 1, 2]
      description: |
        Find strategy for matching contacts with multiple merge_by fields:
        - 0: Any (default - try each merge_by field until match found)
        - 1: Next only if previous empty (only check second field if first is empty on existing contact)
        - 2: All (match on all provided merge_by fields)
      default: 0

    SortOrder:
      type: string
      enum: [asc, desc]
      description: Sort order for results
      default: desc

    ActivityTimeframe:
      type: object
      description: Time range filter for activities
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - last-24-hours
            - last-7-days
            - last-30-days
            - today
            - yesterday
            - this-week
            - this-month
            - this-quarter
            - this-year
            - all
          description: Relative time period
      example:
        type: last-7-days

    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
        status:
          type: string
          description: Error status code
      example:
        error: "Email is suppressed"
        status: "suppressed"

    # Account/Schema related schemas
    InstanceSchemaRequest:
      type: object
      properties:
        namespaces:
          type: array
          items:
            type: string
          description: Array of namespace IDs to retrieve. Empty array returns all namespaces.
          example: ["cm", "sf"]
      example:
        namespaces: []

    InstanceSchemaField:
      type: object
      description: Schema definition for a field
      properties:
        id:
          type: string
          description: Field identifier
        display_type:
          type: string
          description: Field classification (activity, text, geo, bool, date, etc.)
        name:
          type: string
          description: Human-readable field name
        attributes:
          type: object
          description: Sub-fields with liquid variable names for templates
          additionalProperties:
            type: object
            properties:
              liquid_variable:
                type: string
                description: Liquid template variable
        triggers:
          type: array
          description: Conditional logic operations
          items:
            type: string
            enum: [set, set_if_greater, set_if_less]
      example:
        id: "str:cm:custom-field"
        display_type: "text"
        name: "Custom Field"
        attributes:
          value:
            liquid_variable: "{{contact.field.cm.custom_field}}"

    InstanceSchemaNamespace:
      type: object
      description: Schema data for a specific namespace
      properties:
        fields:
          type: object
          description: Field definitions indexed by field ID
          additionalProperties:
            $ref: '#/components/schemas/InstanceSchemaField'

    InstanceSchemaResponse:
      type: object
      description: Complete instance schema response
      additionalProperties:
        $ref: '#/components/schemas/InstanceSchemaNamespace'
      example:
        cm:
          fields:
            str:cm:custom-field:
              id: "str:cm:custom-field"
              display_type: "text"
              name: "Custom Field"

    # Account/Organization merge schemas
    AccountFields:
      type: object
      description: Account field data using field ID format (type:namespace:field-name)
      additionalProperties: true
      example:
        str:o:name: "Acme Corporation"
        str:o:website: "https://acme.com"
        int:o:employees: 150
        str:o:industry: "Technology"

    AccountRecord:
      type: object
      required:
        - fields
      properties:
        fields:
          $ref: '#/components/schemas/AccountFields'
        tags:
          type: array
          items:
            type: string
          description: Tags to apply to the account
          example: ["enterprise", "tech"]
        unset_tags:
          type: array
          items:
            type: string
          description: Tags to remove from the account
          example: ["startup"]

    MergeAccountsRequest:
      type: object
      required:
        - accounts
        - merge_by
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountRecord'
          minItems: 1
          maxItems: 100
          description: Array of account records (1-100 max)
        merge_by:
          type: array
          items:
            type: string
          minItems: 1
          description: Field IDs specifying which account fields determine create vs. update logic. Required (no defaults). If merging by account ID, it must be the only field.
          example: ["str:o:website"]
        merge_strategy:
          type: integer
          enum: [1, 2, 3]
          default: 2
          description: |
            Controls how existing values merge:
            - 1: Append Only - Add new values but don't overwrite existing ones
            - 2: Overwrite Existing - Replace existing values with new ones (default)
            - 3: Ignore - Keep existing values, ignore new ones
        find_strategy:
          type: integer
          enum: [0, 1]
          default: 0
          description: |
            For dual merge fields:
            - 0: Any - Match if any of the merge_by fields match (default)
            - 1: First Only - Match only if first field matches; check second field only if first is empty
        async:
          type: boolean
          default: false
          description: Queue ingestion when true; receive immediate confirmation

    MergeAccountsResponseAccount:
      type: object
      properties:
        status:
          type: string
          enum: [created, merged]
          description: Whether the account was newly created or merged with existing
        account_id:
          type: string
          description: Unique identifier for the account

    MergeAccountsResponse:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/MergeAccountsResponseAccount'

paths:
  /person/merge:
    post:
      tags:
        - Person
      summary: Create or update people
      description: |
        Create or update one or more person records in Ortto's CDP.

        **Important notes:**
        - Supports batch operations (1-100 people per request)
        - Use `async: true` for better performance with large volumes
        - Merge behavior determined by `merge_strategy`
        - Can merge by email, person_id, or custom fields

      operationId: mergePeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - people
              properties:
                people:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Array of person objects to create/update
                  items:
                    type: object
                    required:
                      - fields
                    properties:
                      fields:
                        type: object
                        description: Person field data (see person field documentation)
                        additionalProperties: true
                        example:
                          str::first: "Chris"
                          str::last: "Smith"
                          str::email: "chris.smith@example.com"
                      location:
                        $ref: '#/components/schemas/PersonLocation'
                      tags:
                        type: array
                        items:
                          type: string
                        description: Tags to apply to this person
                      unset_tags:
                        type: array
                        items:
                          type: string
                        description: Tags to remove from this person
                      clear_fields:
                        type: object
                        description: Fields to clear when merge_strategy is 2
                        additionalProperties: true
                async:
                  type: boolean
                  default: false
                  description: Queue ingestion for async processing (recommended for bulk operations)
                merge_by:
                  type: array
                  items:
                    type: string
                  maxItems: 3
                  description: Field IDs to use for matching (e.g., ["str::email"])
                  example: ["str::email"]
                merge_by_alt_fields:
                  type: object
                  description: Alternative fields for "check against another field" option
                  additionalProperties:
                    type: array
                    items:
                      type: string
                merge_strategy:
                  $ref: '#/components/schemas/MergeStrategy'
                find_strategy:
                  $ref: '#/components/schemas/FindStrategy'
                skip_non_existing:
                  type: boolean
                  default: false
                  description: Only update existing contacts, don't create new ones
                suppression_list_field_id:
                  type: string
                  description: Field to check against email suppression list (e.g., "str::email")
                  example: "str::email"
                skip_suppression_check:
                  type: boolean
                  default: false
                  description: Bypass suppression list check entirely
            examples:
              createMultiple:
                summary: Create multiple new people
                value:
                  people:
                    - fields:
                        str::first: "Chris"
                        str::last: "Smith"
                        str::email: "chris.smith@example.com"
                        str:cm:job-title: "Technician"
                      location:
                        source_ip: "119.18.0.218"
                    - fields:
                        str::first: "Alex"
                        str::email: "alex@example.com"
                  async: true
                  merge_by: ["str::email"]
                  merge_strategy: 2
                  find_strategy: 0
              updateExistingOverwrite:
                summary: Update existing person (overwrite strategy)
                description: When person exists, overwrites all specified fields
                value:
                  people:
                    - fields:
                        str::email: "existing@example.com"
                        str::first: "UpdatedFirstName"
                        str::last: "UpdatedLastName"
                        str:cm:job-title: "Senior Developer"
                  merge_by: ["str::email"]
                  merge_strategy: 2
                  find_strategy: 0
              updateExistingAppendOnly:
                summary: Update existing person (append only strategy)
                description: Only fills empty fields, preserves existing values
                value:
                  people:
                    - fields:
                        str::email: "existing@example.com"
                        str::first: "NewFirstName"
                        str:cm:job-title: "Developer"
                  merge_by: ["str::email"]
                  merge_strategy: 1
                  find_strategy: 0
              updateExistingIgnore:
                summary: Don't update existing, only create new
                description: With merge_strategy 3, existing records are untouched
                value:
                  people:
                    - fields:
                        str::email: "existing@example.com"
                        str::first: "IgnoredName"
                    - fields:
                        str::email: "newperson@example.com"
                        str::first: "CreatedName"
                  merge_by: ["str::email"]
                  merge_strategy: 3
                  find_strategy: 0
              updateOnlyExisting:
                summary: Update only existing, skip non-existing
                description: Use skip_non_existing to prevent creating new contacts
                value:
                  people:
                    - fields:
                        str::email: "existing@example.com"
                        str::first: "UpdatedName"
                    - fields:
                        str::email: "nonexistent@example.com"
                        str::first: "WillBeSkipped"
                  merge_by: ["str::email"]
                  merge_strategy: 2
                  skip_non_existing: true
              clearFieldValues:
                summary: Clear specific field values
                description: Use clear_fields to explicitly null out fields
                value:
                  people:
                    - fields:
                        str::email: "existing@example.com"
                        str::first: "John"
                        str:cm:job-title: null
                      clear_fields:
                        str:cm:job-title: true
                  merge_by: ["str::email"]
                  merge_strategy: 2
              mergeByPersonId:
                summary: Merge by person ID
                description: Most efficient merge method using guaranteed unique ID
                value:
                  people:
                    - fields:
                        str::first: "Jack"
                        str::last: "Skellington"
                        str::person_id: "00647687d2e43b25a0261f00"
                  merge_by: ["str::person_id"]
                  merge_strategy: 2
              withTags:
                summary: Add and remove tags
                value:
                  people:
                    - fields:
                        str::email: "tagged@example.com"
                        str::first: "Tagged"
                      tags: ["VIP", "Premium Customer"]
                      unset_tags: ["Free Trial"]
                  merge_by: ["str::email"]
                  merge_strategy: 2
              withSuppressionCheck:
                summary: Check suppression list
                description: Skip creating contacts with suppressed emails
                value:
                  people:
                    - fields:
                        str::email: "might-be-suppressed@example.com"
                        str::first: "Test"
                  merge_by: ["str::email"]
                  merge_strategy: 2
                  suppression_list_field_id: "str::email"
              multipleMergeKeys:
                summary: Use multiple merge keys with fallback
                description: Try email first, fall back to phone if no email match
                value:
                  people:
                    - fields:
                        str::email: "contact@example.com"
                        phn::phone:
                          c: "61"
                          n: "401234567"
                        str::first: "Multi"
                  merge_by: ["str::email", "phn::phone"]
                  merge_strategy: 2
                  find_strategy: 0
      responses:
        '200':
          description: People successfully created/updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      type: object
                      properties:
                        person_id:
                          type: string
                          description: Ortto person ID
                        status:
                          type: string
                          enum: [created, merged, suppressed]
                          description: Operation result
                        error:
                          type: string
                          description: Error message (if status is suppressed)
              examples:
                created:
                  summary: New person created
                  value:
                    people:
                      - person_id: "0069061df82dad244f13a400"
                        status: "created"
                merged:
                  summary: Existing person updated
                  value:
                    people:
                      - person_id: "0069061df82dad244f13a400"
                        status: "merged"
                suppressed:
                  summary: Email on suppression list
                  value:
                    people:
                      - status: "suppressed"
                        error: "Email is suppressed"
                mixed:
                  summary: Multiple operations (created, merged, suppressed)
                  value:
                    people:
                      - person_id: "0069061df82dad244f13a400"
                        status: "created"
                      - person_id: "0069061df82dad244f13a401"
                        status: "merged"
                      - status: "suppressed"
                        error: "Email is suppressed"
        '400':
          description: Bad request (invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized (invalid API key)
        '500':
          description: Internal server error

  /person/get:
    post:
      tags:
        - Person
      summary: Retrieve people with filters
      description: |
        Retrieve person records from Ortto's CDP with filtering, sorting, and pagination.

        **Features:**
        - Advanced filtering with AND/OR conditions
        - Pagination via offset or cursor_id
        - Field selection (specify which fields to return)
        - Search by text query

      operationId: getPeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fields
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 50
                  description: Number of records per page
                sort_by_field_id:
                  type: string
                  description: Field ID to sort by
                  example: "str::last"
                sort_order:
                  $ref: '#/components/schemas/SortOrder'
                offset:
                  type: integer
                  minimum: 0
                  default: 0
                  description: Pagination offset
                cursor_id:
                  type: string
                  description: Cursor ID for next page (from previous response)
                fields:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items:
                    type: string
                  description: Field IDs to return in response
                  example: ["str::first", "str::last", "str::email"]
                q:
                  type: string
                  description: Text search query
                type:
                  type: string
                  description: Filter type (e.g., "archived")
                  example: "archived"
                filter:
                  type: object
                  description: Advanced filter conditions
                  additionalProperties: true
            examples:
              basic:
                summary: Basic get with fields
                value:
                  limit: 100
                  sort_by_field_id: "str::last"
                  sort_order: "asc"
                  offset: 0
                  fields:
                    - "str::first"
                    - "str::last"
                    - "str::email"
                  filter:
                    $has_any_value:
                      field_id: "str::first"
              withAndFilter:
                summary: With AND filter conditions
                value:
                  limit: 100
                  fields: ["str::email", "str::last"]
                  filter:
                    $and:
                      - $has_any_value:
                          field_id: "str::last"
                      - $str::is:
                          field_id: "str::email"
                          value: "contact@email.com"
      responses:
        '200':
          description: People retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Person ID
                        fields:
                          type: object
                          description: Requested person fields
                          additionalProperties: true
                  meta:
                    type: object
                    properties:
                      total_contacts:
                        type: integer
                      total_organizations:
                        type: integer
                      total_matches:
                        type: integer
                      total_subscribers:
                        type: integer
                  offset:
                    type: integer
                  next_offset:
                    type: integer
                  cursor_id:
                    type: string
                  has_more:
                    type: boolean
              example:
                contacts:
                  - id: "0061b02b24f9b6f85dcb1e00"
                    fields:
                      str::ei: "c533532fe5d16c7d4fa4c7f0"
                      str::email: "alex@example.com"
                      str::first: "Alex"
                meta:
                  total_contacts: 5
                  total_organizations: 0
                  total_matches: 5
                  total_subscribers: 5
                offset: 0
                next_offset: 5
                cursor_id: "0062299d655c7cf67184e1e0"
                has_more: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized

  /person/get-by-ids:
    post:
      tags:
        - Person
      summary: Retrieve people by IDs
      description: |
        Retrieve specific person records by their contact IDs.

        **Important:**
        - Returns contacts as object keyed by person_id (not array)
        - Maximum 20 fields can be requested
        - Maximum 150 contact IDs per request

      operationId: getPeopleByIds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_ids
                - fields
              properties:
                contact_ids:
                  type: array
                  minItems: 1
                  maxItems: 150
                  items:
                    type: string
                  description: Array of person IDs to retrieve
                fields:
                  type: array
                  minItems: 1
                  maxItems: 20
                  items:
                    type: string
                  description: Field IDs to return
            example:
              contact_ids:
                - "0066cc4c16dfd264d0e99b00"
                - "00668d816ce2d34c550fe300"
              fields:
                - "str::email"
                - "str::first"
      responses:
        '200':
          description: People retrieved successfully
          content:
            application/json:
              schema:
                type: object
                description: Object with person_id as keys
                additionalProperties:
                  type: object
                  properties:
                    fields:
                      type: object
                      additionalProperties: true
              example:
                "0066cc4c16dfd264d0e99b00":
                  fields:
                    str::email: "user1@example.com"
                    str::first: "John"
                "00668d816ce2d34c550fe300":
                  fields:
                    str::email: "user2@example.com"
                    str::first: "Jane"
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /person/archive:
    put:
      tags:
        - Person
      summary: Archive people
      description: |
        Archive one or more person records. Archived contacts can be restored or deleted.

      operationId: archivePeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inclusion_ids:
                  type: array
                  items:
                    type: string
                  description: Contact IDs to archive
                exclusion_ids:
                  type: array
                  items:
                    type: string
                  description: Contact IDs to exclude from bulk operation
                all_rows_selected:
                  type: boolean
                  description: Archive all contacts (use with exclusion_ids)
            examples:
              byIds:
                summary: Archive specific contacts
                value:
                  inclusion_ids:
                    - "00609384fa6de6e7a8d89d01"
              bulkWithExclusions:
                summary: Archive all except specified
                value:
                  all_rows_selected: true
                  exclusion_ids:
                    - "006281d8ff95c3ed70b70800"
      responses:
        '200':
          description: People archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  scheduled_contacts:
                    type: integer
                  archived_contacts:
                    type: integer
              example:
                scheduled_contacts: 0
                archived_contacts: 35
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /person/restore:
    put:
      tags:
        - Person
      summary: Restore archived people
      description: |
        Restore previously archived person records.

        **Note:** Contacts must be archived before they can be restored.

      operationId: restorePeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inclusion_ids:
                  type: array
                  items:
                    type: string
                  description: Archived contact IDs to restore
                exclusion_ids:
                  type: array
                  items:
                    type: string
                  description: Contact IDs to exclude from bulk operation
                all_rows_selected:
                  type: boolean
                  description: Restore all archived contacts
            example:
              inclusion_ids:
                - "00609384fa6de6e7a8d89d01"
      responses:
        '200':
          description: People restored successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  scheduled_contacts:
                    type: integer
                  restored_contacts:
                    type: integer
              example:
                scheduled_contacts: 0
                restored_contacts: 10
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /person/delete:
    delete:
      tags:
        - Person
      summary: Delete archived people
      description: |
        Permanently delete archived person records.

        **Warning:** This operation is irreversible.
        **Note:** Contacts must be archived before they can be deleted.

      operationId: deletePeople
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                inclusion_ids:
                  type: array
                  items:
                    type: string
                  description: Archived contact IDs to delete
                exclusion_ids:
                  type: array
                  items:
                    type: string
                  description: Contact IDs to exclude from bulk operation
                all_rows_selected:
                  type: boolean
                  description: Delete all archived contacts
            example:
              inclusion_ids:
                - "00609384fa6de6e7a8d89d01"
      responses:
        '200':
          description: People deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  scheduled_contacts:
                    type: integer
                  deleted_contacts:
                    type: integer
              example:
                scheduled_contacts: 0
                deleted_contacts: 5
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /person/subscriptions:
    post:
      tags:
        - Person
      summary: Get people's subscription statuses
      description: |
        Retrieve subscription information for one or more people.

      operationId: getPeopleSubscriptions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - people
              properties:
                people:
                  type: array
                  items:
                    type: object
                    properties:
                      person_id:
                        type: string
                      email:
                        type: string
                      external_id:
                        type: string
                    description: At least one identifier required per person
            example:
              people:
                - person_id: "00647687d2e43b25a0261f00"
                - email: "contact@example.com"
      responses:
        '200':
          description: Subscription statuses retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  people:
                    type: array
                    items:
                      type: object
                      properties:
                        person_status:
                          type: string
                        person_id:
                          type: string
                        subscriptions:
                          type: array
                          items:
                            type: object
                            properties:
                              audience_id:
                                type: string
                              audience_name:
                                type: string
                              member_from:
                                type: string
                                format: date-time
                              subscribed:
                                type: boolean
                              subscribed_from:
                                type: string
                                format: date-time
                              unsubscribed_from:
                                type: string
                                format: date-time
                                nullable: true
                              sms_opted_in:
                                type: boolean
                              sms_opted_out_from:
                                type: string
                                format: date-time
                                nullable: true
                        email_permissions:
                          type: boolean
                        sms_permissions:
                          type: boolean
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /person/get/activities:
    post:
      tags:
        - Activity
      summary: Retrieve activity feed for a person
      description: |
        Retrieve the activity feed for a specific contact with optional filtering and pagination.

        **Features:**
        - Filter by activity type (opens, clicks, sends, etc.)
        - Time range filtering (last 7 days, today, etc.)
        - Pagination support via offset
        - Activity history up to retention limit (default 90 days)

        **Rate Limit:** 1 request per second

      operationId: getPersonActivities
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - person_id
              properties:
                person_id:
                  type: string
                  description: Unique identifier for the contact
                  example: "0069061b5bda4060a5765300"
                activities:
                  type: array
                  items:
                    type: string
                  description: Activity IDs to filter by (e.g., ["act::o", "act::c"])
                  example: ["act::o", "act::c"]
                limit:
                  type: integer
                  minimum: 1
                  maximum: 50
                  description: Number of activities per page (default/max varies by configuration)
                  example: 20
                offset:
                  type: integer
                  minimum: 0
                  description: Pagination offset
                  example: 0
                timeframe:
                  $ref: '#/components/schemas/ActivityTimeframe'
            examples:
              basic:
                summary: Basic request
                value:
                  person_id: "0069061b5bda4060a5765300"
              withFilters:
                summary: With activity filters
                value:
                  person_id: "0069061b5bda4060a5765300"
                  activities: ["act::o", "act::c"]
                  limit: 20
              withTimeframe:
                summary: With timeframe filter
                value:
                  person_id: "0069061b5bda4060a5765300"
                  timeframe:
                    type: last-7-days
                  limit: 50
              withPagination:
                summary: With pagination
                value:
                  person_id: "0069061b5bda4060a5765300"
                  limit: 50
                  offset: 50
              complete:
                summary: All parameters
                value:
                  person_id: "0069061b5bda4060a5765300"
                  activities: ["act::o", "act::c", "act::s"]
                  limit: 20
                  offset: 0
                  timeframe:
                    type: last-30-days
      responses:
        '200':
          description: Activity feed retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    nullable: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique activity ID
                        field_id:
                          type: string
                          description: Activity type identifier
                        created_at:
                          type: string
                          format: date-time
                          description: When the activity occurred
                        attr:
                          type: object
                          description: Activity-specific attributes
                          additionalProperties: true
                        render_cmds:
                          type: array
                          description: Rendering commands for UI display
                          items:
                            type: object
                  meta:
                    type: object
                    properties:
                      total_activities:
                        type: integer
                        description: Total number of activities matching criteria
                      field_ids:
                        type: array
                        nullable: true
                        items:
                          type: string
                        description: Activity IDs included in filter (null if no filter)
                      has_more:
                        type: boolean
                        description: Whether more activities are available
                      retention:
                        type: object
                        properties:
                          type:
                            type: string
                            description: Retention policy type
                            example: time
                          max_value:
                            type: integer
                            description: Retention period in days
                            example: 90
                  offset:
                    type: integer
                    description: Current pagination offset
                  next_offset:
                    type: integer
                    description: Offset for next page
              examples:
                withActivities:
                  summary: Response with activities
                  value:
                    activities:
                      - id: "00690a4fa7e4574617cd9392"
                        attr:
                          str::soo-ctx: "Unsubscribed via API"
                        created_at: "2025-11-04T19:10:31Z"
                        field_id: "act::oos-all"
                        render_cmds:
                          - content: "Unsubscribed from sms"
                          - content: "."
                      - id: "00690a4fa7e4574617cd9190"
                        attr:
                          str::is: "API"
                          str::s-ctx: "Subscribed via API"
                        created_at: "2025-11-04T19:10:31Z"
                        field_id: "act::s-all"
                        render_cmds:
                          - content: "Subscribed to email"
                          - content: "."
                    meta:
                      total_activities: 3
                      field_ids: null
                      has_more: false
                      retention:
                        type: time
                        max_value: 90
                    offset: 0
                    next_offset: 3
                noActivities:
                  summary: Response with no activities
                  value:
                    activities: null
                    meta:
                      total_activities: 0
                      field_ids: ["act::o", "act::c"]
                      has_more: false
                      retention:
                        type: time
                        max_value: 90
                    offset: 0
                    next_offset: 0
        '400':
          description: Bad request (invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Person not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  code:
                    type: integer
                  error:
                    type: string
              example:
                request_id: "aec54163-70c0-466f-adb8-499d9d29b79a"
                code: 404
                error: "Person 0069061b5bda4060a5765300 not found"
        '401':
          description: Unauthorized (invalid API key)
        '429':
          description: Rate limit exceeded (max 1 request per second)

  /audiences/get:
    post:
      tags:
        - Audience
      summary: Get list of audiences
      description: |
        Retrieve a list of audiences from Ortto CDP.

      operationId: getAudiences
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search_term:
                  type: string
                  description: Search audience names
                with_filter:
                  type: boolean
                  default: false
                  description: Include filter conditions in response
                limit:
                  type: integer
                  maximum: 40
                  default: 40
                  description: Number of audiences per page
                offset:
                  type: integer
                  default: 0
                  description: Pagination offset
                archived:
                  type: boolean
                  description: Return archived audiences
                retention:
                  type: boolean
                  description: Return retention-type audiences
            example:
              search_term: "subscribers"
              with_filter: true
              limit: 10
              offset: 0
      responses:
        '200':
          description: Audiences retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    instance_id:
                      type: string
                    icon_id:
                      type: string
                    type:
                      type: string
                    building:
                      type: boolean
                    ready:
                      type: boolean
                    is_public:
                      type: boolean
                    name:
                      type: string
                    members:
                      type: integer
                    added_last_30_days:
                      type: integer
                    filter:
                      type: array
                      description: Only present when with_filter is true
              example:
                - id: "624bd7905a9d367aaf824083"
                  instance_id: "myorttoaccount"
                  icon_id: "mobile-illustration-icon"
                  type: "permanent"
                  building: false
                  ready: true
                  is_public: false
                  name: "SMS subscribers"
                  members: 53
                  added_last_30_days: 3
        '401':
          description: Unauthorized

  /audience/subscribe:
    put:
      tags:
        - Audience
      summary: Subscribe/unsubscribe people to/from audience
      description: |
        Update email and/or SMS subscription preferences for people in a specific audience.

        **Important:**
        - This does NOT add people to audiences (membership is automatic via filter rules)
        - Only updates opt-in/opt-out preferences for existing audience members
        - People must already be audience members for changes to apply

      operationId: subscribeToAudience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - audience_id
                - people
              properties:
                audience_id:
                  type: string
                  description: Target audience ID
                people:
                  type: array
                  items:
                    type: object
                    properties:
                      email:
                        type: string
                      person_id:
                        type: string
                      external_id:
                        type: string
                      subscribed:
                        type: boolean
                        description: Email subscription status
                      sms_opted_in:
                        type: boolean
                        description: SMS opt-in status
                    description: At least one identifier required
                async:
                  type: boolean
                  description: Enable async processing
            examples:
              emailSubscription:
                summary: Email subscriptions
                value:
                  audience_id: "61380ac92593ecf2de4fd705"
                  people:
                    - email: "person1@example.com"
                      subscribed: true
                    - email: "person2@example.com"
                      subscribed: false
                  async: true
              smsSubscription:
                summary: SMS subscriptions
                value:
                  audience_id: "61380ac92593ecf2de9ab302"
                  people:
                    - email: "person3@example.com"
                      sms_opted_in: true
                  async: true
      responses:
        '200':
          description: Subscription status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  audience_id:
                    type: string
                  people:
                    type: array
                    items:
                      type: object
                      properties:
                        person_status:
                          type: string
                        status:
                          type: string
                          enum: [subscribed, unsubscribed]
              example:
                audience_id: "61380ac92593ecf2de4fd705"
                people:
                  - person_status: "by-id"
                    status: "subscribed"
        '400':
          description: Bad request
        '401':
          description: Unauthorized

  /v1/accounts/merge:
    post:
      tags:
        - Accounts
      summary: Create or update organizations
      description: |
        Create or update one or more organization (account) records in Ortto's CDP.

        **Important notes:**
        - Supports batch operations (1-100 accounts per request)
        - `merge_by` parameter is **required** (unlike person endpoints, no defaults exist)
        - If merging by account ID, it must be the only field in `merge_by`
        - Use `async: true` for better performance with large volumes
        - Merge behavior determined by `merge_strategy`
        - Tags applied regardless of create/update status

        **Account field format:** `type:namespace:field-name`
        - Built-in fields use namespace `o`: `str:o:name`, `int:o:employees`, etc.
        - Custom fields use namespace `oc`: `str:oc:custom-field`
        - Geographic fields require object with `name` member: `{"name": "San Francisco"}`

      operationId: mergeAccounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeAccountsRequest'
            examples:
              createSingle:
                summary: Create single account
                description: Create a new organization with basic details
                value:
                  accounts:
                    - fields:
                        str:o:name: "Acme Corporation"
                        str:o:website: "https://acme.com"
                        int:o:employees: 150
                        str:o:industry: "Technology"
                  merge_by: ["str:o:website"]
                  merge_strategy: 2
                  async: false

              updateExisting:
                summary: Update existing account
                description: Update an existing organization by website
                value:
                  accounts:
                    - fields:
                        str:o:name: "Acme Corp (Updated)"
                        str:o:website: "https://acme.com"
                        int:o:employees: 200
                  merge_by: ["str:o:website"]
                  merge_strategy: 2

              bulkCreateUpdate:
                summary: Bulk create/update accounts
                description: Create or update multiple organizations in one request
                value:
                  accounts:
                    - fields:
                        str:o:name: "Delta Corp"
                        str:o:website: "https://delta.com"
                    - fields:
                        str:o:name: "Epsilon LLC"
                        str:o:website: "https://epsilon.com"
                    - fields:
                        str:o:name: "Zeta Group"
                        str:o:website: "https://zeta.com"
                  merge_by: ["str:o:website"]

              appendOnlyStrategy:
                summary: Append-only merge strategy
                description: Add new values without overwriting existing data
                value:
                  accounts:
                    - fields:
                        str:o:name: "Beta Inc"
                        str:o:website: "https://beta.com"
                        str:o:industry: "SaaS"
                  merge_by: ["str:o:website"]
                  merge_strategy: 1

              overwriteStrategy:
                summary: Overwrite merge strategy
                description: Replace all existing values with new data (default)
                value:
                  accounts:
                    - fields:
                        str:o:name: "Gamma Ltd"
                        str:o:website: "https://gamma.com"
                        int:o:employees: 50
                  merge_by: ["str:o:website"]
                  merge_strategy: 2

              ignoreStrategy:
                summary: Ignore merge strategy
                description: Keep existing values, only use new values if field is empty
                value:
                  accounts:
                    - fields:
                        str:o:name: "Theta Co"
                        str:o:website: "https://theta.com"
                        str:o:industry: "Finance"
                  merge_by: ["str:o:website"]
                  merge_strategy: 3

              withTags:
                summary: Account with tags
                description: Create/update account and manage tags
                value:
                  accounts:
                    - fields:
                        str:o:name: "Iota Systems"
                        str:o:website: "https://iota.com"
                      tags: ["enterprise", "tech", "partner"]
                      unset_tags: ["prospect"]
                  merge_by: ["str:o:website"]

              withGeographicFields:
                summary: Account with geographic fields
                description: Create account with city, region, country fields
                value:
                  accounts:
                    - fields:
                        str:o:name: "Kappa Industries"
                        str:o:website: "https://kappa.com"
                        geo:o:city:
                          name: "San Francisco"
                        geo:o:region:
                          name: "California"
                        geo:o:country:
                          name: "United States"
                        str:o:postal: "94102"
                  merge_by: ["str:o:website"]

              multipleMergeFields:
                summary: Multiple merge-by fields
                description: Use fallback merge keys with find strategy
                value:
                  accounts:
                    - fields:
                        str:o:name: "Lambda Corp"
                        str:o:website: "https://lambda.com"
                  merge_by: ["str:o:website", "str:o:name"]
                  find_strategy: 0

      responses:
        '200':
          description: Accounts created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeAccountsResponse'
              examples:
                created:
                  summary: New account created
                  value:
                    accounts:
                      - status: "created"
                        account_id: "507f1f77bcf86cd799439011"
                merged:
                  summary: Existing account merged
                  value:
                    accounts:
                      - status: "merged"
                        account_id: "507f1f77bcf86cd799439012"
                bulk:
                  summary: Bulk operation response
                  value:
                    accounts:
                      - status: "created"
                        account_id: "507f1f77bcf86cd799439011"
                      - status: "merged"
                        account_id: "507f1f77bcf86cd799439012"
                      - status: "created"
                        account_id: "507f1f77bcf86cd799439013"
        '400':
          description: Bad request (invalid parameters, missing required fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized (invalid API key)
        '500':
          description: Internal server error

  /instance-schema/get:
    post:
      tags:
        - Account
      summary: Retrieve instance schema
      description: |
        Retrieve schema data for one or more namespaces within Ortto's CDP.

        **Features:**
        - Get all schemas by providing empty namespaces array
        - Get specific namespace schemas (custom fields, integrations, etc.)
        - Useful for discovering available custom fields and data structures
        - Returns field definitions with liquid template variables

      operationId: getInstanceSchema
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceSchemaRequest'
            examples:
              allNamespaces:
                summary: Get all namespaces
                description: Retrieve schema for all available namespaces
                value:
                  namespaces: []
              customFields:
                summary: Get custom fields schema
                description: Retrieve only custom fields namespace
                value:
                  namespaces: ["cm"]
              salesforce:
                summary: Get Salesforce schema
                description: Retrieve Salesforce integration schema
                value:
                  namespaces: ["sf"]
              multiple:
                summary: Get multiple namespaces
                description: Retrieve schemas for custom fields and Shopify
                value:
                  namespaces: ["cm", "sh"]
              integrations:
                summary: Get common integration schemas
                value:
                  namespaces: ["sf", "sh", "st", "hs"]
      responses:
        '200':
          description: Instance schema retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceSchemaResponse'
              examples:
                customFieldsResponse:
                  summary: Custom fields namespace response
                  value:
                    cm:
                      fields:
                        str:cm:job-title:
                          id: "str:cm:job-title"
                          display_type: "text"
                          name: "Job Title"
                          attributes:
                            value:
                              liquid_variable: "{{contact.field.cm.job_title}}"
                        str:cm:industry:
                          id: "str:cm:industry"
                          display_type: "text"
                          name: "Industry"
                          attributes:
                            value:
                              liquid_variable: "{{contact.field.cm.industry}}"
                multipleNamespaces:
                  summary: Multiple namespaces response
                  value:
                    cm:
                      fields:
                        str:cm:custom-field:
                          id: "str:cm:custom-field"
                          display_type: "text"
                          name: "Custom Field"
                    sf:
                      fields:
                        str:sf:account_name:
                          id: "str:sf:account_name"
                          display_type: "text"
                          name: "Salesforce Account Name"
        '400':
          description: Bad request (invalid parameters)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized (invalid API key)
        '500':
          description: Internal server error
